.content-wrapper {
  min-height: 80.4vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 35%;
  border-radius: 0.5rem;
}
.fblock {
  min-height: 40vh;
  padding: 1.5rem;
  background-image: linear-gradient(
    to right top,
    #1d252b,
    #1f272e,
    #212a30,
    #222c33,
    #242f36,
    #253037,
    #263139,
    #27323a,
    #27323a,
    #27323a,
    #27323a,
    #27323a
  );
  margin: 0 !important;
  border-radius: 0.5rem;
  overflow: hidden;
}
.text-section-fpass {
  margin-bottom: 1rem !important;
}
.heading-fpass {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  color: #fbf7f5;
}
.discription-fpass {
  color: #fbf7f5;
  font-size: 0.9rem !important;
}
.form-input-fpass {
  color: #fbf7f5 !important;
  font-weight: 600;
  font-size: 1.2rem !important;
}
.lable-fpass {
  color: #fbf7f5 !important;
  font-weight: 600;
  font-size: 1.2rem !important;
  transform: translateY(15px) !important;
}
.lable-fpass:not(.label-icon).active {
  transform: translateY(-12px) scale(0.8) !important;
}
.button-fpass {
  font-weight: 600;
}
.loading-fpass {
  padding-top: 0.3rem !important;
}
@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    border-radius: 0;
  }
  .fblock {
    min-height: 80.4vh;
    border-radius: 0;
  }
}
