@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

/* WAITING ANIMATION */
.waiting-rpass {
  width: auto;
  height: auto;
}
.validation-text {
  margin-top: 2rem;
  font-size: 2.5rem;
  animation: flashing 1.5s linear infinite;
  font-family: "Nerko One", cursive;
}
.dots {
  width: 40px;
  height: 40px;
  margin: 0.2rem;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
  transform: scale(0);
  animation: bubbing 2.5s ease-in-out infinite;
}
@keyframes flashing {
  0%,
  100% {
    opacity: 1;
    color: #240b36;
  }
  50% {
    opacity: 0;
    color: #c31432;
  }
}
@keyframes bubbing {
  0%,
  100% {
    transform: scale(0.2);
    background-color: #ff6e7f;
  }
  50% {
    transform: scale(1);
    background-color: #bfe9ff;
  }
}
.dots:nth-child(0) {
  animation-delay: 0s;
}
.dots:nth-child(2) {
  animation-delay: 0.2s;
}
.dots:nth-child(3) {
  animation-delay: 0.4s;
}
.dots:nth-child(4) {
  animation-delay: 0.6s;
}
.dots:nth-child(5) {
  animation-delay: 0.8s;
}
.dots:nth-child(6) {
  animation-delay: 1s;
}
.reset-password-wrapper-main {
  min-height: 80.4vh;
  background-color: ivory;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset-password-wrapper-content-success {
  min-width: 40vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset-password-wrapper-content-error {
  min-width: 40vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reset-password-error-img-block {
  width: 30%;
}
.reset-password-error-img {
  width: 100%;
}

.reset-password-error-text-block {
  padding: 1.4rem 3rem 3rem 3rem;
}

.reset-password-error-text {
  margin: 0 !important;
  font-weight: 600;
  font-family: "Nerko One", cursive;
  color: #545454;
}
.reset-password-heading {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 0.4rem;
  font-family: "Nerko One", cursive;

  background: -webkit-linear-gradient(
    to right,
    #928dab,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #928dab,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
  -webkit-animation: hue 3s infinite linear;
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.reset-password-form {
  margin: 0 !important;
  width: 100% !important;
}
.input-field-resetPass {
  width: 100% !important;
}
.reset-password-label {
  font-weight: 700 !important;
  color: #545454 !important;
}
@media screen and (max-width: 600px) {
  .reset-password-wrapper-main {
    min-height: 74.2vh;
  }
  .reset-password-wrapper-content-error {
    flex-direction: column;
  }
  .reset-password-error-img-block {
    width: 60%;
  }
  .reset-password-wrapper-content-success {
    padding: 1rem;
  }
}
