@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.login-form {
  background-color: #3c4d58 !important;
  border-radius: 15px !important;
}
.login-heading {
  padding-right: 1.6rem !important;
  font-family: "Varela Round", sans-serif;
  text-align: left;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}
.login-heading {
  border-radius: 2px;
  color: #fff;
  font-size: 0.9rem;
  width: fit-content;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}
.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100% !important;
}
.login-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-login {
  width: 100%;
  height: 55vh;
}
.login-right {
  padding-left: 1.8rem !important;
  padding-right: 1.2rem !important;
}
.input-field-login {
  margin-top: 0.9rem !important;
  margin-bottom: 0 !important;
}
.form-input-login {
  font-size: 1rem !important;
  color: #fff !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
}
.input-field-label {
  font-weight: 500 !important;
  font-size: 0.9rem !important;
  color: #fff !important;
}
.input-field-lable:not(.label-icon).active {
  transform: translateY(-5px) scale(0.2) !important;
}
.form-submit {
  text-align: left;
  margin-top: 1rem;
  padding-left: 2rem !important;
}
.login-submit {
  font-weight: bold;
  font-size: 0.8rem !important;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 0.05rem !important;
}
.forgot-password {
  margin-top: 1rem;
  padding-left: 2rem !important;
  text-align: left;
  font-weight: 600;
  font-size: 0.9rem;
}
