.pdf-preview-modal {
  min-height: 100vh !important;
}
.pdf-perviw-modal-footer {
  padding-right: 2rem !important;
  background-color: #004d40 !important;
}
.pdf-perviw-modal {
  background-color: #004d40 !important;
}
.pdf-perviw-modal-btn {
  background-color: #e53935 !important;
  background-image: none !important;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
}
